body {
  /*Provided by subtlepatterns.com*/
  background-image: url('../images/pagebackground.png')
}

#page {
  max-width: 1024px;
  min-width: 810px;
  margin: 10px auto 10px auto;
  padding: 10px;
  border: 5px ridge;
  background-color: #ffffff;
}

#pagecontent {
  width: 800px;
  margin: 10px auto 10px auto;
}

#logo {
  font-size: 28px;
}

#navbar {
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding: 20px;
  text-align: center;
}

.navbutton {
  font-size: 18px;
  display: inline;
  margin: 0px 40px;
}

p {
  font-family: Arial, Verdana, sans-serif;
}

img {
  width: 800px;
  height: 600px;
}

.photocaption {
  
}
