/* Import the 960 grid system to help define layout */
@import url("960_12_col.css");
/* Import fonts used for website */
@import url("fonts.css");

/*General Styles*/
body {
  background-color: #592821;
}

nav {
  height: 84px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-image: url("../images/Header and Footer Border.png");
  text-align: center;
}

nav li {
  display: inline;
}

header {
  height: 240px;
  background-image: url("../images/Header Background.jpg");
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

p {
  color: white;
  font-size: 16px;
  font-family: Arial, Verdana, sans-serif;
}

#page {
  margin-top: 44px;
}

#logo {
  color: white;
  font-family: 'kaushan_scriptregular', Arial, sans-serif;
  font-size: 24px;
  text-shadow: 2px 2px 7px #111111;
  float: right;
  margin-right: 20px;
  margin-top: 120px;
}

#page-header {
  color: white;
  font-size: 24px;
  font-family: 'kaushan_scriptregular', Arial, sans-serif;
  text-shadow: 2px 2px 7px #111111;
}

.section-header {
  color: white;
  font-size: 24px;
  font-family: 'kaushan_scriptregular', Arial, sans-serif;
  text-shadow: 2px 2px 7px #111111;
}

.navbtn {
  text-decoration: none;
  font-size: 18px;
  color: white;
  text-shadow: 2px 2px 7px #111111;
  padding: 0px 40px;
}

.navbtn:hover, .navbtncur:hover {
  font-weight: bold;
}

.navbtncur {
  text-decoration: none;
  font-size: 18px;
  color: #CD8E27;
  text-shadow: 2px 2px 7px #111111;
  padding: 0px 40px;
}

/*Homepage Styles */
#siteintro {
  margin-top: 10px;
  margin-bottom: 10px;
}

#blog {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Gallery Styles*/
#galleries {
  overflow: auto;
  width: 100%;
}

.gallerylinks {
  height: 300px;
  background-color: #efefef;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.photocaption {
  padding-bottom: 10px;
  border-bottom: 1px solid;
}

/*About Styles*/
#aboutme {
  background-color: #efefef;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Contact Styles*/
#contact-intro {
  clear: left;
}

#contact-telephone {
  float: right;
}
