body {
  /*Provided by subtlepatterns.com*/
  background-image: url('../images/pagebackground.png')
}

p {
  font-family: Arial, Verdana, sans-serif;
}

img {
  width: 800px;
  height: 600px;
}

.navbutton {
  width: 75px;
  margin: 10px;
  border: 2px solid blue;
  padding: 10px;
}
