@import 'base/typography';
@import 'components/buttons';
@import 'components/navigation';
@import 'helpers/variables';
@import 'vendor/960_12_col';
@import 'vendor/lightbox';
@import 'vendor/fonts';

/*General Styles*/
body {
  background-image: url("../images/backgrounds/page_background.jpg");
  margin: 0px;
}

a:hover {
  cursor: pointer;
}

header {
  width: 100%;
  height: 600px;
  background-image: url("../images/backgrounds/call_to_action.jpg");
  background-size: cover;
  border-bottom: 3px solid #F1D5B9;
}

nav {
  position: absolute;
  top: 10%;
  right: 5%;
  max-width: 50%;
  height: auto;
}

nav li {
  display: inline;
}

#websiteLogo {
  position: absolute;
  top: 5%;
  left: 5%;
  max-width: 35%;
  height: auto;
}

#websiteLogo img {
  width: 100%;
}

#callToAction {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#callToAction p {
  color: #ffffff;
  font-size: 200%;
  font-family: 'kaushan_scriptregular', Arial, sans-serif;
  text-shadow: 2px 2px 7px #111111;
  text-align: center;
}

#page {
  margin-top: 57px;
}

/*Homepage Styles */
#siteSummary {
  padding: 30px 5px;
  text-align: center;
}

#recentPhotos {
  width: 400px;
  height: auto;
  border: 3px solid #F1D5B9;
}

/*Gallery Styles*/
#galleries {
  overflow: auto;
  width: 100%;
}

.gallerylinks {
  height: 300px;
  background-color: #efefef;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.galleryThumb {
  height: 165px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.imageThumb {
  display: block;
  max-height: 75%;
  margin: 0px auto;
  border: 2px solid #F1D5B9;
  box-shadow: 2px 2px 2px #111111;
}

/*About Styles*/
#mePhoto {
  border: 3px solid #F1D5B9;
  margin-top: 70px;
  margin-left: 20px;
}

/*Contact Styles*/
#contactIntro {
  margin-bottom: 60px;
}

#phoneIcon {
  float: left;
  margin: 30px 20px;
}

#phoneDetails {
  overflow: auto;
  margin-top: 80px;
  margin-left: 30px;
}

#socialLinks {
  overflow: auto;
  margin-top: 70px;
  margin-left: 80px;
}

#formMessage {
  width: 85%;
  padding: 10px;
  border: 3px solid #F1D5B9;
  margin-bottom: 40px;
  font-size: 16px;
  font-family: Arial, Verdana, sans-serif;
  text-align: center;
  color: #F1D5B9;
}

#contactForm {
  overflow: auto;
  margin: 30px 0px;
}

.formElement {
  margin: 10px;
  padding-bottom: 10px;
}

.formSubmit {
  float: right;
  padding-right: 40px;
}

.formLabel {
  float: left;
  width: 20%;
  padding: 5px 10px 5px 5px;
  color: #ffffff;
  font-size: 16px;
  font-family: Arial, Verdana, sans-serif;
  text-align: right;
}

.formInput {
  border: 2px solid #F1D5B9;
  padding: 3px;
  font-size: 16px;
  font-family: Arial, Verdana, sans-serif;
}
