.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #FA5724;
  min-height: 20vh;
  box-sizing: border-box;
  padding: 0 1rem;
  border-bottom: 3px solid #FED05E; }
  @media (min-width: 900px) {
    .navigation {
      flex-direction: row;
      align-items: stretch; } }

.navigation__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style-type: none; }
  @media (min-width: 900px) {
    .navigation__list {
      justify-content: flex-end; } }
  @media (min-width: 600px) {
    .navigation__list {
      flex-direction: row; } }

.navigation__link {
  display: block;
  padding: 1rem;
  font-family: Arial, Verdana, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 7px black;
  text-decoration: none; }
  .navigation__link:hover {
    color: #FED05E; }
  .navigation__link:active {
    text-shadow: none; }

.logo {
  width: auto;
  height: 100px;
  padding: 1rem 0; }

.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../images/backgrounds/default.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  min-height: 80vh;
  box-sizing: border-box;
  padding: 1rem 2rem;
  border-bottom: 3px solid #FED05E; }

.call-to-action__header {
  color: #FED05E;
  font-size: 3rem;
  font-family: Arial, Verdana, sans-serif;
  letter-spacing: 0.2rem;
  text-align: center;
  text-shadow: 2px 2px black;
  padding-bottom: 1rem; }

.call-to-action__sub-header {
  color: #FA5724;
  font-size: 1.6rem;
  font-family: Arial, Verdana, sans-serif;
  text-align: center;
  text-shadow: 2px 2px black;
  padding-bottom: 3rem; }

.call-to-action__buttons {
  display: flex;
  flex-direction: column; }
  .call-to-action__buttons > * {
    margin: 0 1rem 1rem 1rem; }
  @media (min-width: 600px) {
    .call-to-action__buttons {
      flex-direction: row; } }

.link-button {
  color: #FA5724;
  text-decoration: none;
  font-family: Arial, Verdana, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  text-shadow: 2px 2px black;
  padding: 0.5rem;
  border: 3px solid #FA5724;
  border-radius: 6px;
  box-shadow: 2px 2px black; }
  .link-button:hover {
    text-shadow: none;
    background-color: #FED05E; }
  .link-button:active {
    box-shadow: none; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
