$black: #000000;
$dark-grey: #404040;
$grey: #808080;
$light-grey: #bfbfbf;
$white: #ffffff;
$work-purple: purple;
$ride-green: green;
$eat-yellow: yellow;
$play-red: red;
$contact-blue: blue;

$base-font: Arial, Verdana, sans-serif; ;