$black: #000000;
$dark-grey: #404040;
$grey: #808080;
$light-grey: #bfbfbf;
$white: #ffffff;
$work-purple: #670067;
$ride-green: #006700;
$eat-yellow: #E6E600;
$play-red: #E60000;
$contact-blue: #0000E6;

$base-font: Arial, Verdana, sans-serif; ;