html {
  font-size: 62.5%;
}

p {
  color: $white;
  font-size: $medium-font;
  font-family: $base-font-family;
}

a {
  color: $cream;

  &:hover {
    cursor: pointer;
  }
}

#pageHeader {
  color: $white;
  font-size: $xxlarge-font;
  font-family: $accent-font-family;
  text-shadow: $text-shadow;
}

.sectionHeader {
  color: $white;
  font-size: $xlarge-font;
  font-family: $accent-font-family;
  text-shadow: $text-shadow;
}

.subHeader {
  color: $white;
  font-size: $large-font;
  font-family: $accent-font-family;
  text-shadow: $text-shadow;
}
