p {
  color: $white;
  font-size: 16px;
  font-family: $base-font-family;
}

a {
  color: $cream;
}

#pageHeader {
  color: $white;
  font-size: 42px;
  font-family: $accent-font-family;
  text-shadow: 2px 2px 7px #111111;
}

.sectionHeader {
  color: $white;
  font-size: 32px;
  font-family: $accent-font-family;
  text-shadow: 2px 2px 7px #111111;
}

.subHeader {
  color: $white;
  font-size: 24px;
  font-family: $accent-font-family;
  text-shadow: 2px 2px 7px #111111;
}
