.text-colour--work {
    color: $work-purple;
}

.text-colour--ride {
    color: $ride-green;
}

.text-colour--eat {
    color: $eat-yellow;
}

.text-colour--play {
    color: $play-red;
}

.text-colour--contact {
    color: $contact-blue;
}