#formMessage {
  width: 85%;
  padding: 10px;
  border: $medium-cream-border;
  margin-bottom: 40px;
  font-size: $medium-font;
  font-family: $base-font-family;
  text-align: center;
  color: $cream;
}

.formLabel {
  float: left;
  width: 20%;
  padding: 5px 10px 5px 5px;
  color: $white;
  font-size: $medium-font;
  font-family: $base-font-family;
  text-align: right;
}

.formInput {
  border: $thin-cream-border;
  padding: 3px;
  font-size: $medium-font;
  font-family: $base-font-family;
}