.navbtn {
  text-decoration: none;
  font-family: $base-font-family;
  font-size: 150%;
  font-weight: bold;
  color: $white;
  text-shadow: 2px 2px 7px #111111;
  padding: 0px 25px;
}

.navbtncur {
  text-decoration: none;
  font-family: $base-font-family;
  font-size: 150%;
  font-weight: bold;
  color: $cream;
  text-shadow: 2px 2px 7px #111111;
  padding: 0px 25px;
}