.navbtn {
  text-decoration: none;
  font-family: $base-font-family;
  font-size: $large-font;
  font-weight: bold;
  color: $white;
  text-shadow: 2px 2px 7px #111111;
  padding: 0px 25px;
}

.navbtncur {
  text-decoration: none;
  font-family: $base-font-family;
  font-size: $large-font;
  font-weight: bold;
  color: $cream;
  text-shadow: 2px 2px 7px #111111;
  padding: 0px 25px;
}

#callToAction p {
  color: $white;
  font-size: $xlarge-font;
  font-family: $accent-font-family;
  text-shadow: 2px 2px 7px #111111;
  text-align: center;
}