.background {
    background: url(../images/backgrounds/default.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.background--ride {
    background: url(../images/backgrounds/ride.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.background--routes {
    background: url(../images/backgrounds/routes.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

