.blog-posts {
    margin: 2rem;
}

.blog-posts__heading {
    margin-bottom: 2rem;
    font-size: 2.6rem;
    font-family: Arial, Verdana, sans-serif;
    color: $light-grey;
}

.blog-post {
    margin-bottom: 2rem;
    border: 3px solid $white;
    padding: 2rem;
}

.blog-post__link {
    text-decoration: none;
}

.blog-post__heading {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-family: Arial, Verdana, sans-serif;
    color: $light-grey;
}