.link-button {
    text-decoration: none;
    font-family: Arial, Verdana, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    text-shadow: 2px 2px black;
    padding: 0.5rem;
    border: 3px solid $white;
    box-shadow: 2px 2px black;

    &:hover {
        color: $light-grey;
        border: 3px solid $light-grey;
    }

    &:active {
        text-shadow: none;
        box-shadow: none;
    }
  }