.call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../images/backgrounds/default.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    min-height: 80vh;
    box-sizing: border-box;
    padding: 1rem 2rem;
    border-bottom: 3px solid $yellow;
  }
  
  .call-to-action__header {
    color: $yellow;
    font-size: 3rem;
    font-family: Arial, Verdana, sans-serif;
    letter-spacing: 0.2rem;
    text-align: center;
    text-shadow: 2px 2px black;
    padding-bottom: 1rem;
  }
  
  .call-to-action__sub-header {
    color: $dark-orange;
    font-size: 1.6rem;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
    text-shadow: 2px 2px black;
    padding-bottom: 3rem;
  }
  
  .call-to-action__buttons {
    display: flex;
    flex-direction: column;
    
    & > * {
        margin: 0 1rem 1rem 1rem;
    }

    @media(min-width: 600px) {
        flex-direction: row;
    }
  }
  
