#galleries {
  overflow: auto;
  width: 100%;
}

.gallerylinks {
  height: 300px;
  background-color: $white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.galleryThumb {
  height: 165px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.imageThumb {
  display: block;
  max-height: 75%;
  margin: 0px auto;
  border: 2px solid $cream;
  box-shadow: 2px 2px 2px #111111;
}