.header {
    background: linear-gradient(170deg, $black 25%, transparent 65%),
                url(../images/backgrounds/default.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.header--ride {
    background: linear-gradient(170deg, $black 25%, transparent 65%),
                url(../images/backgrounds/ride.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45%;
    box-sizing: border-box;
    padding: 2rem 1rem;

    @media (min-width: 500px) {
        flex-direction: row;
        justify-content: space-between;
        height: 20%;
    }
}

.header__nav-logo {
    display: block;
    font-size: 3rem;
    text-decoration: none;
    padding: 1rem;
    border: 5px solid $white;
    margin: auto 1rem;
}

.header__nav-list {
    display: none;
    list-style-type: none;

    @media (min-width: 900px) {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
}

.header__nav-list--expanded {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: $black;
}

.header__nav-link {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: $light-grey;
    }

    &:active {
        transform: translateY(2px);
    }
}

.header__nav-link--mobile {
    display: block;
    margin-top: 2rem;

    @media (min-width: 900px) {
        display: none;
    }

    @media (min-width: 500px) {
        margin-top: 0;
    }
}

.header__nav-link--mobile-expanded {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    margin: 1rem;

    @media (min-width: 500px) {
        margin: 3rem;
    }
}

.header__action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55%;
    box-sizing: border-box;
    padding: 1rem 2rem;

    @media (min-width: 500px) {
        height: 80%;
    }
  }
  
  .header__action-heading {
    font-size: 3rem;
    letter-spacing: 0.2rem;
    text-align: center;
    text-shadow: 2px 2px black;
    padding-bottom: 1rem;
  }
  
  .header__action-sub-heading {
    color: $light-grey;
    font-size: 1.6rem;
    text-align: center;
    text-shadow: 2px 2px black;
    padding-bottom: 3rem;
  }
  
  .header__action-buttons {
    display: flex;
    flex-direction: column;
    
    & > * {
        margin: 0 1rem 1rem 1rem;
    }

    @media(min-width: 500px) {
        flex-direction: row;
    }
  }
  