.header {
    width: 100%;
    height: 600px;
    background-image: url("../images/backgrounds/call_to_action.jpg");
    background-size: cover;
    border-bottom: 3px solid #F1D5B9;
} 

.header__nav {
    position: absolute;
    top: 10%;
    right: 5%;
    max-width: 50%;
    height: auto;

    li {
        display: inline;
    }
}

